@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background: #596A5E;
    font-family: 'Inter';
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}
#opcoesfoto {
    font-size: 14px;
}
#quadrado {
    background: #d9d9d9;
    display: inline-block;
    width: 235px;
    height: 235px;
    border-radius: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 235px;
    cursor: pointer;
    margin-bottom: 12px;
}
#quadrado:hover {
    background: #d9d9d9c5;
}
#container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}