@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background: #3c423e;
    font-family: 'Inter';
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}
#opcoesfoto {
    font-size: 14px;
}
#quadrado {
    background: #d9d9d9;
    display: inline-block;
    width: 235px;
    height: 235px;
    border-radius: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 235px;
    cursor: pointer;
    margin-bottom: 12px;
}
#quadrado:hover {
    background: #d9d9d9c5;
}
#container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
#foto-coluna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
#info-perfume{
    width: 90%;
}
.campo{
    width: 92.5%;
    border: 1px solid #C06060;
    border-radius: 8px;
    height: 28px;
    margin-bottom: 10px;
}
#acordes{
    width: 93%;
    border: 1px solid #C06060;
    border-radius: 8px;
    height: 30px;
    margin-bottom: 10px;
}
.camponotas{
    width: 100%;
    border: 1px solid #C06060;
    border-radius: 8px;
    height: 30px;
}
#notas{
    width: 90%;
    border: 1px solid #C06060;
    border-radius: 8px;
    margin-bottom: 10px;
}
input[type="text"],
select{
    background: transparent;
    color: black;
}
.campotexto{
    width: 92.5%;
    border: 1px solid #C06060;
    border-radius: 8px;
    height: 50px;
    margin-bottom: 10px;
    background: transparent;
}
#titulo{
    width: 92.5%;
    border: 1px solid #C06060;
    border-radius: 8px;
    height: 28px;
    margin-bottom: 10px;
    background: transparent;
}
#review{
    width: 92.5%;
    border: 1px solid #C06060;
    border-radius: 8px;
    margin-bottom: 15px;
    background: transparent;
}
#adicionar{
    background: #C06060;
    border: 0.1px solid #C06060;
    border-radius: 8px;
    width: 80px;
    height: 35px;
    color: #FFFFFF;
}
#cancelar{
    border: 2px solid #C06060;
    border-radius: 8px;
    width: 80px;
    height: 35px;
    color: #C06060;
    background: transparent;
}
#avaliacao {
  padding: 10px;
  display: none;
  max-width: 235px;
}
#avaliacao hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 15px 0;
}
.linha-avaliacao {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.linha-avaliacao label {
  min-width: 90px;
}
.estrelas {
  display: inline-flex;
  align-items: center;
}
.estrelas svg {
  width: 120px;
  height: 22px;
  cursor: pointer;
  display: inline-block;
}
.estrelas polygon {
  transition: fill 0.1s;
}
.slider {
  width: 100%;
  max-width: 215px;
  margin: 6px 0 10px 0;
}